
body {
    
    background-color: var(--bg-color); 

    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; 
    margin: 50px;
}

button {
    background-color: rgb(247, 238, 135);    
    color: rgb(158, 193, 215);              
    border: none;             
    padding: 5px 12px;         
    border-radius: 5px;         
    cursor: pointer;           
}

button:hover {
     background-color: rgb(248, 224, 67);
}

.navbar ul {
    z-index: 1000; 
}


.navbar ul li {
    float: left;
    margin: 10px;
}

.container{
    width: 700px;
    height: 500px;
    background: #2a4a72;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 #000;
}

.left_side{
    position: absolute;
    width: 250px;
    height: 400px;
    background: #2a4a72;
    border-radius: 10px 0 0 10px;
}

.left_side h1{
    margin-top: 20px;
    text-align: center;
    font-size: 2.5rem;
    color: #5780b2;
    font-weight: 900;
    letter-spacing: 2px;
}

.p_g_t{
    text-align: center;
    display: grid;
    place-items: center;
    min-height: 30vh;
}

.p_g_t h2{
    font-size: 1.3rem;
    font-weight: 500;
    color: #5780b2; 
    margin: 20px 0;
}

.content .right_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70vw;
    min-height: 50vh;
}

.right_side input{
    margin: 15px 0;
    width: 250px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 0.9rem;
}   

.right_side button{
    width: 150px;
    height: 40px;
    background: #ffe14e;
    color: #5780b2;
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: medium;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
}

.result{
    position: absolute;
    bottom: 133px;
    width: 250px;
    height: 150px;
    background: #2a4a72;
    border-radius: 0 0 0 10px;
}

.result h2{
    text-align: center;
    line-height: 50px;
    font-size: 1.3rem;
    color: #5780b2;
    font-weight: 900;
    letter-spacing: 2px;
}

:root {
    
    --bg-color: #b0c7f8;
    --text-color: #4285c8;

    --bg-color-dark-mode: #333a77;
    --text-color-dark-mode: #fff;

    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-yellow: #f1ec81;

    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
