
body {
    background-color: var(--bg-color); 
    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, Serif-Sans;
    margin: 50px;
}

button {
    padding: 8px 10px;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
    background: #f8e9a1;
    border: 3px solid #e2cf72;
    color: #99c8e1;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 0 #e2cf72;
    transition: 0.1s ease; 
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;  
   
}

button:hover {
     background-color: rgb(223, 210, 123);
     
}

.navbar ul {
    z-index: 1000; 
}


.navbar ul li {
    float: left;
    margin: 10px;
}


:root {
    
    --bg-color: #e6f3ff;
    --text-color: #6cb6ff;
    

    --bg-color-dark-mode: #24305e;
    --text-color-dark-mode: #a8d0e6;

    --accent-color-light: #a8d0e6;
    --accent-color-medium: #f76c6c;
    --accent-color-dark: #374785;
    --accent-color-darkest: #24305e;
    --accent-color-yellow: #f8e9a1;

    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}

.header-img {
    width: 100%;
    height: 300px;
      /* keeps it from growing too tall */
    /* no cropping */
    align-items: center;
     object-fit: cover;
}