
body {
    
    background-color: var(--bg-color); 

    font-size: 16px;
    color: var(--text-color);
    font-family: Verdana, Tahoma, sans-serif; 
    margin: 50px;
}

button {
    background-color: rgb(246, 240, 174);    
    color: rgb(150, 186, 209);              
    border: none;             
    padding: 5px 12px;         
    border-radius: 5px;         
    cursor: pointer;           
}

button:hover {
     background-color: rgb(223, 210, 123);
}

.navbar ul {
    z-index: 1000; 
}


.navbar ul li {
    float: left;
    margin: 10px;
}


:root {
    
    --bg-color: #a8d0e6;
    --text-color: #374785;

    --bg-color-dark-mode: #24305e;
    --text-color-dark-mode: #a8d0e6;

    --accent-color-light: #a8d0e6;
    --accent-color-medium: #f76c6c;
    --accent-color-dark: #374785;
    --accent-color-darkest: #24305e;
    --accent-color-yellow: #f8e9a1;

    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}

.header-img {
    width: 100%;
    height: 300px;
      /* keeps it from growing too tall */
    /* no cropping */
    align-items: center;
     object-fit: cover;
}