
body {
    
    background-color: var(--bg-color); 

    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; 
    margin: 50px;
}

button {
    background-color: rgb(247, 238, 135);    
    color: rgb(158, 193, 215);              
    border: none;             
    padding: 5px 12px;         
    border-radius: 5px;         
    cursor: pointer;           
}

button:hover {
     background-color: rgb(248, 224, 67);
}

.navbar ul {
    z-index: 1000; 
}


.navbar ul li {
    float: left;
    margin: 10px;
}

.container{
    background:#3c6893;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
:root {
    
    --bg-color: #b0c7f8;
    --text-color: #4285c8;

    --bg-color-dark-mode: #333a77;
    --text-color-dark-mode: #fff;

    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-yellow: #f1ec81;

    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
